body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.list{
  background-color:#b1a6a4;
  padding: 30px;
  text-align: center;
}
ul{
  list-style-type: none;
  align-items: center;
}
li {
  display: inline;
  margin-right: 10px;
  padding: 40px;
  color: #fff;
  margin: 0;
  
}